
body{
	background: url("free-glitter-bubble-texture-psd.png");

	
}



.container{
	background: silver;
	margin: 100px;
	font-family: 'Arimo', sans-serif;
	padding: 10px;
	text-align:center;


}

.gemImages{
	width: 100%;
	margin: 10px;

}



#numberToGuess{
	height:100px;
	background: #412DFE;
	font-size: 30px;
	color: #2b2b2b;

}

#instructions{
	background: pink;
	font-size: 20px;
	
}

.winCounter{
	background: purple;
	height: 100px;
	font-size: 30px;
	color: #2b2b2b;
	

}
#scoreText{
	background:aqua;
	font-size: 20px;
	color: #2b2b2b;
	


}
#scoreTotal{
	
	font-size: 30px


}

h1{
	font-size: 60px;
	font: 400 100px/1.3 'Lobster Two',cursive, Helvetica, sans-serif;
  	color: #2b2b2b;
  	text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0,0,0,0.15);

}

.gemImages{
  -webkit-transition:all 0.5s ease-out;
  -moz-transition:all 0.5s ease-out;
  -ms-transition:all 0.5s ease-out;
  -o-transition:all 0.5s ease-out;
  transition:all 0.5s ease-out;
}

.gemImages:hover {
  -webkit-transform:scale(1.1);
  -moz-transform:scale(1.1);
  -ms-transform:scale(1.1);
  -o-transform:scale(1.1);
  transform:scale(1.1);
}